.seeCarrito {
    font-size: 19px;
    margin-right: 20px;
    padding: 3px;
    cursor: pointer;
    color: white;
}

.seeCarrito img {
    height: 26px;
    filter: invert(100%);
    padding: 2px;
}

