.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #292929;
    width: 100%
}

.navbar-logo {
    height: 50px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
}

.li-navbar {
    list-style: none;
}

.li-navbar:hover {
    transform: translateY(-1px);
}

.link-custom {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

